node_modules
dist
.npm-cache
assets/brands/
assets/menus/
assets/menu_optimized/
assets/menus-optimized/
public/assets/menu_optimized/
public/assets/menus-optimized/
public/assets/brand_optimized/
public/assets/brands-optimized/
.DS_Store
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
